/* Breadcrumb Navigation */
.breadcrumb-nav {
  background-color: #1e32c1;
  font-size: 14px;
}

.breadcrumb-nav a {
  color: white;
  text-decoration: underline;
  margin-right: 5px;
}

/* Hero Section */
.hero-laporan {
  background: linear-gradient(to right, #8e42c4, #a04cc6);
  min-height: 300px;
  padding: 60px 20px;
  position: relative;
}

.hero-laporan h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
}

.hero-laporan p {
  font-weight: 400;
  max-width: 700px;
}

/* Konten Bawah Hero */
section.container h2 {
  font-size: 2rem;
}

section.container p {
  max-width: 700px;
  margin: 0 auto;
}
